section#body_startsida
    sec#sec1_startsida
        p hej #{session[:username]} i familj xxxxxxxxxxx

    sec#sec2_startsida

        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, nemo nam dolore quaerat inventore velit magni ut labore voluptate non, quae, cum facilis expedita dignissimos temporibus qui tempora consectetur. Eos, explicabo vero. Laborum maiores quae architecto dolorum culpa eligendi, placeat, ad ratione maxime dolor accusamus vel nostrum! Temporibus, dicta. Vitae maxime fugit harum quos, laudantium a vel. Beatae reprehenderit est exercitationem consequuntur voluptas, totam aliquid earum dolorum non error mollitia sapiente fugiat tenetur alias aut. Reiciendis doloremque inventore ducimus, temporibus saepe voluptatibus fugiat ipsa eveniet nostrum maxime modi quidem quod veniam recusandae aut nesciunt autem et tenetur deleniti iure. Libero.


